---
import '@fontsource/poppins';

---
<nav class="navbar">
    <div class="navbar-logo">
        CONCEPTS
    </div>
    <ul class="navbar-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/maths2">Maths 2</a></li>
        <li><a href="/stats2">Statistics 2</a></li>
        <li><a href="/eng2">English 2</a></li>
    </ul>
</nav>

<style>
    body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px 20px;
    
}

.navbar-logo {
    font-family: "Poppins", sans-serif;
    font-display: swap;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: white;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #ddd;
}

</style>